{% extends "/shared/base.html" %} {% block title %}Index{% endblock %} {% block
head %} {{ super() }} {% endblock %} {% block content %}
<div class="bg-red-50 p-10">
  <table class="min-w-[50%] m-4">
    <thead class="border-b text-lg">
      <tr>
        <th class="p-2">Last Name</th>
        <th class="p-2">First Name</th>
        <th class="p-2">Street Address</th>
        <th class="p-2">Arrondissement</th>
      </tr>
    </thead>
    <tbody class="text-left text-sm" id="table-body">
      {% for plaque in plaques %}
      <tr>
        {% if plaque.commemorates.last_name %}
        <td class="border p-1">{{plaque.commemorates.last_name}}</td>
        <td class="border p-1">{{plaque.commemorates.first_name}}</td>
        {% else %}
        <td class="border p-1">{{plaque.commemorates.other}}</td>
        <td class="border p-1"></td>
        {% endif%}

        <td class="border p-1">{{plaque.street_address}}</td>
        <td class="border text-center p-1">{{plaque.arrondissement}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<button class="px-3 py-1 bg-blue-600 text-white ml-4">Load more</button>
{% endblock %}
