<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}

    <title>{% block title %}{% endblock %} : Paris</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    {% endblock %}
  </head>

  <body>
    <!-- <h1 class="p-10 bg-red-50">Commemorative Plaques</h1> -->
    <!-- {% include 'plaques/table.html'%} -->
    <div class="content">{% block content %} {% endblock %}</div>
    <div class="footer">
      {% block footer %} &copy; Copyright 2023 by
      <a href="https://www.el-cordovez.com">JC Cordovez-Mantilla</a>. {%
      endblock %}
    </div>
  </body>
</html>
