<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} : Paris</title>
    {% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  </head>
  <body>
    <header>{% include "shared/_hero.html" %}</header>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %} &copy; Copyright 2023 by
      <a href="https://www.el-cordovez.com">JC Cordovez-Mantilla</a>. {%
      endblock %}
    </div>
  </body>
</html>
